@charset "UTF-8";

/*Fontes externas*/
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Patua+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

/*Váriaveis CSS*/
:root {
    --cor1: #e8e8e8;
    /*fontes*/
    --cor2: #a1a1a1;
    /*cartão*/
    --cor3: #434343;
    /*menu / rodapé / cartão*/
    --cor4: #173261;
    /*botão*/
    --cor5: #FFF;
    --cor6: #000;

    --titulo: 'Patua', sans-serif;
    /*sans-serif é quando você escolhe a fonte, digita e não reconhece ele usa o próprio sans-serif*/
    --texto: 'Lobster', sans-serif;
}

/*Reset CSS*/
* {
    margin: 0;
    padding: 0;               /* Preenchimento*/
    box-sizing: border-box;   /* caso não mostre box-sizing, pode mostrar (border) e ele é a mesma coisa da outra*/
}

body {   /*Corpo do projeto*/
    background: #939292
}
/*layout*/
.container{
    margin: 0 auto;
    background: #cecece;
}

#topo{
    position: fixed;
    right: 10px;
    bottom: 10px;
}

.flex{
    display: flex;
    justify-content: space-between;
    background: #aaf8b3;
}
/*SMARTPHONE PORTRAIT (PORTATIL)*/
header{         /*Cabeçalho*/
height: 60px;
}
#check{
    display: none;  /*Essa função serve para esconder algo*/
}
label{
    font-size: 3em;
    position: fixed;
    top: 5px;
    right: 15px;

}
nav ul{
    list-style: none;  /*Esconde a bolinha*/
    background: var(--cor3);
    height: 100vh;
    position: fixed;
    top: 60px;
    right: -100%;
    width: 100%;
    transition: all 0.5s;
}
nav ul li{
    padding: 20px;
    border-bottom: var(--cor2) 1px solid;
}
nav ul li a{
    text-decoration: none;
    color: var(--cor1);
    font-family: var(--texto);
    font-size: 1.3em;
}
#check:checked ~ ul{
    right: 0;
}

/*SMARTPHONE LANDSCAPE (CELULAR TELA DEITADO)*/

@media (min-width:576px) {           /*Configuração da largura celular*/
    body {
        background: #edaaf8;       /*Cor da tela celular deitado*/
    }
    .container{
        max-width: 540px;
    }

}
/*TABLET PORTRAIT (TABLET TELA DEITADA)*/

@media (min-width:768px){            /*Configuração da largura tablet*/
    body{
        background: #7fff7f;      /*Cor da tela tablet em pé*/
    } 
    .container{
        max-width: 720px;
    }
}

/*TABLET LANDSCAPE*/
@media (min-width:992px){
    body{
        background: #7fff7f;
    }
    .container{
        max-width: 960px;
    }
}

/*PC*/
@media (min-width: 1200px){
    body{
        background: #0de9e9
    }
    .container{
        max-width: 1140px;
    }

    header{   /*Cabeçalho*/
        height: 125px;     
    }
    .logo img{
        margin-top: 30px;
        margin-left: 30px;
    }        

}